<div class="row">
    <div class="col-sm-4">
        <form class="form-signin" ng-show="!isAuthenticated" ng-submit="newUser()">
            <h2 class="form-signin-heading">User Registration</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" 
                   placeholder="Email address" required autofocus ng-model="newuser.username">
            
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" 
                   placeholder="Password" required ng-model="newuser.password">
            
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="not-a-bot"> I am not a bot
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>
</div>